@import "../../../../../../styles.scss";

.contact-section {
    @extend %div-size;
}

.contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-image: url('../../../../../../assets//img/contact.jpg');
    background-size: cover;
    position: relative;
    width: 100%;
    height: auto;
    border-top: 2px solid black;
}

.up {
    margin-right: 100px;
}


.contact-wrapper>div:nth-child(2) {
    background: hsla(0, 0%, 0%, 0.59);
}


.center-header {
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;

    &.second {
        margin-bottom: 30px;
    }
}

p {
    text-align: center;
    display: none;
}

.display {
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px dashed white;
    border-bottom: 1px dashed white;
}


@media screen and (max-width: 1023px) {
    .additional-contact {
        display: none;
    }

    .contact-wrapper>div:nth-child(2) {
        background-image: url('../../../../../../assets//img/contact.jpg');
        background-size: cover;
        background: hsla(0, 0%, 0%, 0.59);
        width: 100%;
        height: auto;
        right: 0px;
    }



    p {
        text-align: center;
        display: block !important;
        color: silver;
        cursor: pointer;

        &:hover {
            color: white;
        }
    }

    .up {
        margin-right: 0px;
    }
}