<div class="contact-wrapper">
  <div class="button-wrapper">
  </div>
  <iframe width="100%" height="900px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
    src="https://www.openstreetmap.org/export/embed.html?bbox=18.891195%2C50.3385118%2C18.891195%2C50.3385118&amp;layer=mapnik&amp;marker=50.3385118%2C18.891195">
  </iframe>
  <div class="two">
    <div class="up">
      <div #contact class="contact-form">
        <app-title-header class="center-header" [fontcolor]="'white'" [case]="'uppercase'" [dictionary]="'contactform'">
        </app-title-header>
        <app-contact-form></app-contact-form>
      </div>
    </div>
    <div class="display">
      <app-title-header class="center-header second" [fontcolor]="'white'" [case]="'uppercase'"
        [dictionary]="'contact'">
      </app-title-header>
      <app-form-icon-text [source]="'assets/icons/phone-receiver.png'" [text]="'577-561-994'">
      </app-form-icon-text>
      <app-form-icon-text [source]="'assets/icons/email-envelope.png'" [text]="'przemek.szymczuk@gmail.com'">
      </app-form-icon-text>
      <app-form-icon-text [source]="'assets/icons/skype-symbol.png'" [text]="'Zyzuuuu'">
      </app-form-icon-text>
    </div>
  </div>
</div>