@import "../../../../../../styles.scss";

.contact-section {
    @extend %div-size;
}

.contact-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-image: url('../../../../../../assets//img/contact.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
    border-top: 2px solid black;
}

.up {
    height: 100%;
}

.contact-wrapper>div:nth-child(2) {
    background: hsla(0, 0%, 0%, 0.59);
    position: absolute;
    right: 80px;
}

.center-header {
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;

    &.second {
        margin-bottom: 30px;
    }
}


p {
    text-align: center;
    display: none;
}

.display {
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px dashed white;
    border-bottom: 1px dashed white;
}


@media screen and (max-width: 1023px) {
    .additional-contact {
        display: none;
    }

    .contact-wrapper>div:nth-child(2) {
        background: hsla(0, 0%, 0%, 0.59);
        width: 100%;
        position: absolute;
        height: 100%;
        right: 0px;
    }

    .contact-wrapper {
        min-height: 100vh;
    }

    p {
        text-align: center;
        display: block !important;
        color: silver;
        cursor: pointer;

        &:hover {
            color: white;
        }
    }

    @media screen and (orientation:landscape) {
        .contact-wrapper {
            min-height: 140vh;
        }
    }
}