<div class="contact-wrapper">
  <div class="additional-contact">
    <app-addidional-contact></app-addidional-contact>
  </div>
  <div class="up" [@transition]=currentState>
    <div #contact>
      <app-title-header class="center-header" [fontcolor]="'white'" [case]="'uppercase'" [dictionary]="'contactform'">
      </app-title-header>
      <p>
        <app-title-header [case]="'uppercase'" (click)="OpenMoreWindow()" [dictionary]="'contactformmore'">
        </app-title-header>
      </p>
      <app-contact-form></app-contact-form>
    </div>
  </div>
</div>
<!-- 
<iframe width="100%" height="600px" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
  src="https://www.openstreetmap.org/export/embed.html?bbox=18.891195%2C50.3385118%2C18.891195%2C50.3385118&amp;layer=mapnik&amp;marker=50.3385118%2C18.891195">
</iframe> -->