<div class="nav-content">
    <app-mobile-button (click)="Toggle()" class="button on "></app-mobile-button>
    <div [ngClass]="{'trans': transparency == true, 'notrans': transparency == false}" class="off nav">
        <div class="left off">
            <app-navbar-section [navlinkOptions]="navLinks"></app-navbar-section>
        </div>
        <div class="right">
            <div class="off">
                <app-language-choose></app-language-choose>
            </div>

        </div>
    </div>
</div>
<app-mobile-navbar></app-mobile-navbar>