%options {
    width: 400px;
    text-align: center;
    font-size: 30px;
}

%border {
    border-right: 1px dashed black;
    border-left: 1px dashed black;
}

.header-wrapper {
    display: flex;
    align-items: center;
    font-size: 30px;
    border: 1px dashed silver;
    position: relative;
}

.skill-avatar {
    position: absolute;
    bottom: -40px;
    right: 50px;
}

app-title-header {
    margin-left: 20px;
}

app-avatar.avatar-position {
    padding: 20px;
}

.card-body {
    border-left: 1px dashed silver;
    border-right: 1px dashed silver;
    border-bottom: 1px dashed silver;
}

.card-body-text {
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 20px;
}

p {
    padding-bottom: 10px;
}