.close {
    float: right;
    cursor: pointer;
}

.wrapper {
    height: 80%;
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}