<div class="additional-contact-wrapper">
  <app-contact-details [background]="'#333'" [text]="'577-561-994'" [src]="'assets/icons/phone-receiver.png'">
  </app-contact-details>
  <app-contact-details [background]="'#12A5F4'" [cursor]="'pointer'" [linked]="true" [link]="'skype:Zyzuuuu?chat'"
    [text]="'Zyzuuuu'" [src]="'assets/icons/skype-symbol.png'">
  </app-contact-details>
  <app-contact-details [background]="'#c71610'" [text]="'przemek.szymczuk@gmail.com'"
    [src]="'assets/icons/email-envelope.png'">
  </app-contact-details>
  <app-contact-details [background]="'#6e5494'" [text]="'Zyzuuu'" [linked]="true"
    [link]="'http://www.github.com/Zyzuuu'" [src]="'assets/icons/github.png'">
  </app-contact-details>
</div>