@import "../../../../../../styles.scss";

.container {
    display: flex;
    justify-items: space-between;
    flex-wrap: wrap;
    padding: 10px;
    background: white;
}

.child {
    display: inline-block;
    margin: 12px;
}

.child:first-child {
    width: 99%;
}

.dashed {
    border-bottom: 1px dashed black;
}

:nth-child(2) {
    padding: 20px;
    border: 1px dashed black;
}

:nth-child(3) {
    flex: 1;
}

.child:not(:first-child) {
    flex: 1;
    align-items: center;
    justify-content: center;
}


@media screen and (max-width: 1023px) {
    .container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }

    .child {
        display: inline-block;
    }

    .child:first-child {
        width: 99%;
    }

    :nth-child(2) {
        display: none;
    }

    :nth-child(3) {
        flex: 1;
    }
}