<div #home class="main">
    <div #cloud class="wrapper clouds">
        <div class="top">
            <app-title-header [dictionary]="'welcome'" [fontsize]="'40px'" [fontcolor]="'black'"></app-title-header>
            <p>
                <app-title-header [dictionary]="'welcomeText'" [fontcolor]="'black'">
                </app-title-header>
            </p>
        </div>
        <div class="bottom">
        </div>
    </div>
</div>
<div #button class="button-wrapper">
    <app-button appCloudsChange class="button" [dictionary]="'about'" (click)="Scroll('#about')"></app-button>
</div>