<app-navbar></app-navbar>
<div>
  <div class="wallpaper">
    <div class="title">
      <h1>SKILLS</h1>
    </div>
  </div>
  <div>
    <app-scroll-top-button [ngClass]="{'disapear': !transparency}" class="top-button"></app-scroll-top-button>
    <div id="home" class="anchor"></div>
    <app-welcome-section></app-welcome-section>
  </div>
  <div>
    <div id="about" class="anchor"></div>
    <app-aboutme-section></app-aboutme-section>
  </div>
  <div>
    <div id="skills" class="anchor"></div>
    <app-skills-section></app-skills-section>
  </div>
  <div>
    <div id="projects" class="anchor"></div>
    <app-projects-section></app-projects-section>
  </div>
  <div>
    <div id="contact" class="anchor"></div>
    <app-contact-section></app-contact-section>
  </div>
</div>