<app-navbar></app-navbar>
<div class="div-height">

  <app-scroll-top-button [ngClass]="{'disapear': !transparency}" class="top-button"></app-scroll-top-button>


  <div id="home" class="anchor"></div>
  <app-welcome-section></app-welcome-section>

</div>
<div class="div-height">
  <div id="about" class="anchor"></div>
  <app-aboutme-section></app-aboutme-section>
</div>
<div class="div-height">
  <div id="skills" class="anchor"></div>
  <app-skills-section></app-skills-section>
</div>
<div class="div-height">
  <div id="projects" class="anchor"></div>
  <app-projects-section></app-projects-section>
</div>
<div class="div-height">
  <div id="contact" class="anchor"></div>
  <app-contact-section></app-contact-section>
</div>