
@{
    ViewBag.Title = "Contact";
}

<div class="container-fluid tit">
    <!-- PROJEKTY-->
    <div class="col-lg-1">
        <h1 class="vertical-text" style="text-align: center;margin-left: 5%; margin-right: 4%; margin-top: 350px" id="lefttitle">
            @MVCLogin.Resources.HomeTexts.CONTACT
        </h1>
    </div>

    <div class="row" style="margin-left:20px; margin-top:50px">
        <div class="col-sm4">

            <h2>@MVCLogin.Resources.HomeTexts.LOGINPAGETEXTMRMRS</h2><br />
            <p style="max-width:450px" class="text-justify">
                @MVCLogin.Resources.HomeTexts.CONTACTTEXT

            </p>

            <table cellpadding="10">

                <tr>
                    <td>   <img src="~/Content/img/cell.png" style="width:40px; height:40px" title="PHONE" /></td>
                    <td>796-236-520</td>
                </tr>
                <hr>
                <tr>
                    <td>   <img src="~/Content/img/mail.png" style="width:40px; height:40px" title="E-MAIL" /></td>
                    <td>przemek.szymczuk@gmail.com</td>

                </tr>

                <tr>
                    <td>

                        <img src="~/Content/img/skype.png" style="width:45px; height:45px" title="SKYPE" />
                    </td>
                    <td>Zyzuuuu</td>

                </tr>

                <tr>
                    <td>

                        <img src="~/Content/img/viber.png" style="width:35px; height:35px" title="VIBER" />
                    </td>
                    <td>Zyzu</td>
                </tr>
                <tr>
                    <td>
                        <img src="~/Content/img/whats.png" style="width:40px; height:40px" title="WHATS APP" />
                    </td>
                    <td>przemek szymczuk</td>
                </tr>

            </table>


        </div>


    </div>


</div>