form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    width: 400px;
    padding: 20px;
}

input,
textarea {
    border: 0;
    border-bottom: 1px silver solid;
    outline: none;

    &:focus {
        border-bottom: 2px black solid;
    }
}

input {
    height: 50px;
}

textarea::placeholder {
    padding-top: 15px;
}

button:disabled {
    background: transparent;
    cursor: not-allowed;

    &:hover {
        background: transparent;
        color: black;
        border: 1px dotted black;
    }
}

.touched {
    border-bottom: 2px #00e605 solid;
}

.error {
    border-bottom: 2px red solid;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

textarea {
    height: 100px;
}

.send-button {
    text-transform: uppercase;
    height: 60px;
    border: 1px dotted black;
    outline: none;
    background: white;
    cursor: pointer;
    color: black;

    &:hover {
        transition: 1s;
        background: black;
        opacity: 1;
        color: white;
        border: 1px dotted white;
    }
}


label {
    text-transform: uppercase;
    font-size: 10px;
    margin-bottom: 5px;
    color: white;

    &:after {
        content: " *";
        color: red;
    }
}

@media screen and (max-width: 1023px) {
    form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: center;
        width: 100%;
    }
}

div.message {
    color: white;
    text-align: right;
    margin-top: 3px;
    margin-right: 10px;
    font-size: 1rem;
}

div.group {
    height: 80px;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;


}

.textarea {
    height: 150;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 40px;
}