<form #form="ngForm" (submit)="SubmitForm()">
  <label for="field.subject">{{languageSwitch | language : 'topicLabel'}}:</label>
  <input [ngClass]="{'touched': subject.valid}" required [(ngModel)]="field.subject" #subject="ngModel" type="text"
    name="field.subject" id="field.subject">
  <label for="field.name">{{languageSwitch | language : 'nameLabel'}}:</label>
  <input [ngClass]="{'touched': name.valid}" #name="ngModel" required [(ngModel)]="field.name" type="text"
    name="field.name" id="field.name">
  <label for="field.mail">E-mail</label>
  <input [ngClass]="{'touched': mail.valid && mail.touched, 'error': !mail.valid && mail.touched}" #mail="ngModel"
    required [(ngModel)]="field.mail" placeholder="{{languageSwitch | language : 'mailText'}}"
    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" type="email" name="field.mail" id="field.mail">
  <label for="field.message">{{languageSwitch | language : 'messageLabel'}}:</label>
  <textarea [ngClass]="{'touched': msg.valid}" #msg="ngModel" required [(ngModel)]="field.message" type="text"
    name="field.message" id="field.message"></textarea>
  <button class="send-button" type="submit" [disabled]="form.invalid">SUBMIT</button>
</form>