<form [formGroup]='contactForm' (ngSubmit)="SubmitForm(contactForm)">
  <div class="group">
    <label>{{languageSwitch | language : 'topicLabel'}}</label>
    <input formControlName="topic" name="topic" type="text">
    <div class="message" *ngIf="contactForm.get('topic').invalid && isSubmitted">
      {{languageSwitch | language: 'fieldRequired'}}
    </div>
  </div>
  <div class="group">
    <label>{{languageSwitch | language : 'nameLabel'}}</label>
    <input formControlName="name" name="name" type="text">
    <div class="message" *ngIf="contactForm.get('name').invalid && isSubmitted">
      {{languageSwitch | language: 'fieldRequired'}}
    </div>
  </div>
  <div class="group">
    <label>E-mail</label>
    <input formControlName="email" name="email" type="email" email>
    <div class="message" *ngIf="contactForm.get('email').errors.required && isSubmitted">
      {{languageSwitch | language: 'fieldRequired'}}
    </div>
    <div class="message"
      *ngIf="contactForm.get('email').errors && contactForm.get('email').errors.email && isSubmitted">
      {{languageSwitch | language: 'wrongEmail'}}
    </div>
  </div>
  <div class="textarea">
    <label>{{languageSwitch | language : 'messageLabel'}}</label>
    <textarea formControlName="message" name="message" type="text"></textarea>
    <div class="message" *ngIf="contactForm.get('message').invalid && isSubmitted">
      {{languageSwitch | language: 'fieldRequired'}}
    </div>
  </div>
  <button class="send-button" type="submit">{{languageSwitch | language: submessage}}</button>
</form>